@import "tailwindcss";

@layer components {
    /********** navigation **********/
    .nav {
        @apply z-30 absolute translate-x-full lg:translate-x-0 lg:static left-0 w-full pt-30 lg:pt-0 lg:w-fit flex flex-col bg-amber-100/70 backdrop-blur-sm lg:bg-transparent lg:backdrop-blur-none lg:flex-row items-center h-full gap-8 sm:gap-6 lg:gap-8 ease-in-out duration-200;
    }

    .nav.open {
        @apply translate-x-0;
    }

    .hamburger {
        @apply relative border-3 border-stone-700 mt-2 py-5 h-8 w-12 z-30 rounded-md cursor-pointer before:content-[''] before:bg-stone-700 before:h-0.5 before:w-2/3 before:absolute before:top-4 before:left-2 after:bg-stone-700 after:h-0.5 after:w-1/3 after:absolute after:top-6 after:left-2 before:transition after:transition self-center;
    }

    .hamburger.close {
        @apply before:rotate-45 before:translate-y-1 after:w-2/3 after:-rotate-45 after:-translate-y-1;
    }

    /********** hero **********/
    .hero_image {
        @apply h-full w-full relative contrast-20 object-cover;
    }

    .hero_content {
        @apply absolute flex flex-col gap-4 lg:gap-8 max-w-xl top-1/2 left-2/4 -translate-y-2/4 -translate-x-2/4;
    }

    .hero_textbox {
        @apply flex flex-col gap-2 lg:gap-4;
    }

    .hero_header {
        @apply text-3xl md:text-5xl lg:text-7xl text-center text-amber-100 font-bold text-shadow-md text-shadow-stone-700;
    }

    .hero_paragraph {
        @apply text-base md:text-lg lg:text-3xl text-center text-amber-100 text-shadow-md text-shadow-stone-700;
    }

    .hero_cta {
        @apply bg-amber-100 flex justify-center py-2 lg:py-4 text-lg md:text-2xl lg:text-3xl text-stone-800 font-bold rounded-md border-4 border-amber-100 hover:bg-stone-700/30 hover:text-amber-100 transition;
    }

    .slide {
        @apply ease-in-out duration-300 z-10;
    }

    .slide_btn {
        @apply absolute top-2/4 -translate-y-2/4 p-1 z-10 border-3 border-amber-100 bg-amber-100 rounded-md hover:bg-stone-700/30 transition md:p-2;
    }

    .slide_btn_logo {
        @apply h-4 md:h-6 text-stone-700 stroke-2 md:stroke-3 group-hover:text-amber-100 transition;
    }

    .slide_btn-left {
        @apply left-4;
    }

    .slide_btn-right {
        @apply right-4;
    }

    .dots {
        @apply absolute flex gap-6 bottom-[5%] left-2/4 -translate-x-2/4 z-10;
    }

    .dots_dot {
        @apply border-none bg-amber-100 h-4 w-4 lg:h-6 lg:w-6 rounded-md cursor-pointer transition;
    }

    .dots_dot-active {
        @apply bg-stone-700;
    }

    /********** date picker styles **********/
    .date_picker {
        @apply relative;
    }

    .calendar_box {
        @apply z-10 border-2 border-stone-500 shadow-md shadow-stone-800/20 ease-in-out overflow-hidden duration-300 max-w-0 max-h-0 group-hover:max-w-full group-hover:max-h-96 w-96 aspect-square absolute bottom-0 left-0 translate-y-full rounded-b-md;
    }

    .calendar {
        @apply bg-white absolute top-0 w-full h-full grid grid-cols-7 bg-white [&>*]:border-2 [&>*]:border-stone-500 rounded-b-md ease-in-out duration-500;
    }

    .calendar_month_box {
        @apply flex items-center justify-center p-1 col-span-5 bg-amber-100;
    }

    .calendar_month_heading {
        @apply md:text-sm lg:text-lg font-bold text-stone-700;
    }

    .calendar_arrow_box-right {
        @apply flex items-center justify-center p-1 bg-amber-100 hover:bg-white transition;
    }

    .calendar_arrow_box-left {
        @apply flex items-center justify-center p-1 bg-amber-100 hover:bg-white transition;
    }

    .calendar_arrow_logo {
        @apply h-full text-stone-700;
    }

    .weekday_box {
        @apply flex items-center justify-center p-1 bg-white;
    }

    .date_box {
        @apply flex items-center justify-center p-1 bg-white hover:bg-amber-100 transition;
    }

    .date_box-active {
        @apply bg-amber-100;
    }

    .date_text {
        @apply text-xs font-bold sm:text-base lg:text-lg text-stone-700;
    }

    .date_text-fade {
        @apply text-xs sm:text-base lg:text-lg text-stone-400;
    }
}
