@import "tailwindcss";

@layer components {
  .nav {
    @apply absolute translate-x-full sm:translate-x-0 sm:static left-0 w-full pt-20 sm:pt-0 sm:w-fit flex flex-col bg-amber-100/70 backdrop-blur-sm sm:bg-transparent sm:backdrop-blur-none sm:flex-row items-center h-full gap-8 sm:gap-6 lg:gap-8 ease-in-out duration-200;
  }

  .nav.open {
    @apply z-20 translate-x-0;
  }

  .hamburger {
    @apply relative border-3 border-stone-700 mt-2 py-5 h-8 w-12 z-30 rounded cursor-pointer before:content-[''] before:bg-stone-700 before:h-0.5 before:w-2/3 before:absolute before:top-4 before:left-2 after:bg-stone-700 after:h-0.5 after:w-1/3 after:absolute after:top-6 after:left-2 before:transition after:transition;
  }

  .hamburger.close {
    @apply before:rotate-45 before:translate-y-1 after:w-2/3 after:-rotate-45 after:-translate-y-1;
  }

  .slide {
    @apply ease-in-out duration-300;
  }

  .slide_btn {
    @apply absolute top-2/4 -translate-y-2/4 p-1 z-10 border-3 border-amber-100 bg-amber-100 rounded-full hover:bg-stone-700/30 transition md:p-3;
  }

  .slide_btn-left {
    @apply left-4;
  }

  .slide_btn-right {
    @apply right-4;
  }

  .dots {
    @apply absolute flex gap-10 bottom-[5%] left-2/4 -translate-x-2/4;
  }

  .dots_dot {
    @apply border-none bg-amber-100 h-5 w-5 rounded-full cursor-pointer transition;
  }

  .dots_dot-active {
    @apply bg-stone-700;
  }
}
