{{template "base" .}}

{{define "content"}}
<section class="bg-amber-100 py-10">
    <div class="container relative mx-auto min-h-96 border-4 border-stone-700 bg-white items-start rounded-md flex">
        <div id="menu"
            class="z-20 absolute flex flex-col border-r-3 border-b-3 border-stone-700 shadow-sm w-fit rounded-br-md duration-500 ease-in-out">
            <div id="new-reservations"
                class="tab flex items-center justify-between gap-3 px-4 py-2 bg-white text-stone-800 hover:bg-amber-100 cursor-pointer transition">
                <p>New Reservations</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
                </svg>
            </div>
            <div id="reservations"
                class="tab flex items-center justify-between gap-3 px-4 py-2 bg-white text-stone-800 hover:bg-amber-100 cursor-pointer transition">
                <p>All Reservations</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m7.875 14.25 1.214 1.942a2.25 2.25 0 0 0 1.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 0 1 1.872 1.002l.164.246a2.25 2.25 0 0 0 1.872 1.002h2.092a2.25 2.25 0 0 0 1.872-1.002l.164-.246A2.25 2.25 0 0 1 16.954 9h4.636M2.41 9a2.25 2.25 0 0 0-.16.832V12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 0 1 .382-.632l3.285-3.832a2.25 2.25 0 0 1 1.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0 0 21.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
            </div>
            <div id="reservation-calendar"
                class="tab flex items-center justify-between gap-3 px-4 py-2 bg-white text-stone-800 hover:bg-amber-100 cursor-pointer transition">
                <p>Reservation Calendar</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
                </svg>
            </div>
        </div>
        <div id="menu-bar"
            class="absolute border-2 border-stone-700 bg-stone-700 shadow-md p-1 m-2 w-10 h-8 rounded cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-full w-full text-amber-200">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
        </div>
        <div id="dashboard" class="w-full h-full p-5"></div>
    </div>
</section>
<script>
    let mql = window.matchMedia("(max-width: 48rem)");

    const menu = document.querySelector("#menu");
    const menuBar = document.querySelector("#menu-bar");
    const dashboard = document.querySelector("#dashboard");

    let isOpen = false;

    function showMenu() {
        isOpen = true;
        menu.classList.remove("hidden");
        menu.classList.remove("hide-modal");
        menu.classList.add("show-modal");
        menuBar.classList.remove("show-modal");
        menuBar.classList.add("hide-modal");
    }

    function hideMenu() {
        isOpen = false
        menu.classList.remove("show-modal");
        menu.classList.add("hide-modal");
        menuBar.classList.remove("hide-modal");
        menuBar.classList.add("show-modal");
        setTimeout(() => {
            menu.classList.add("hidden");
        }, 500)
    }

    function toggleMenu() {
        if (isOpen) {
            hideMenu();
        } else {
            showMenu();
        }
    }

    if (mql.matches) {
        menuBar.classList.remove("hidden");
        menu.classList.add("absolute");

        menu.classList.remove("show-modal");
        menu.classList.add("hide-modal");
        menuBar.classList.remove("hide-modal");
        menuBar.classList.add("show-modal");

        menuBar.addEventListener("click", toggleMenu);
    } else {
        menuBar.classList.add("hidden");
        menu.classList.remove("absolute");

        menu.classList.add("show-modal");
        menu.classList.remove("hide-modal");

        menuBar.removeEventListener("click", toggleMenu);
    }

    mql.addEventListener("change", (e) => {
        if (e.matches) {
            menuBar.classList.remove("hidden");
            menu.classList.add("absolute");

            menu.classList.remove("show-modal");
            menu.classList.add("hide-modal");
            menuBar.classList.remove("hide-modal");
            menuBar.classList.add("show-modal");

            menuBar.addEventListener("click", toggleMenu);
        } else {
            menuBar.classList.add("hidden");
            menu.classList.remove("absolute");

            menu.classList.add("show-modal");
            menu.classList.remove("hide-modal");
        }
    });

    function setTabActive(el) {
        el.classList.remove('bg-white', 'text-stone-800', 'hover:bg-amber-100');
        el.classList.add('bg-stone-700', 'text-amber-200');
    }

    function setTabInactive(el) {
        el.classList.remove('bg-stone-700', 'text-amber-200');
        el.classList.add('bg-white', 'text-stone-800', 'hover:bg-amber-100');
    }


    const first = document.querySelector("#new-reservations");
    setTabActive(first);
    fetch(`/admin/dashboard/fetch/${first.id}`)
        .then(response => response.text())
        .then(html => {
            dashboard.innerHTML = html;
        })
        .catch(error => {
            console.warn('Something went wrong:', error);
        });

    const tabs = document.querySelectorAll(".tab");

    tabs.forEach((tab) => {
        tab.addEventListener("click", (e) => {
            tabs.forEach((tab) => setTabInactive(tab));
            if (mql.matches) {
                hideMenu();
            }

            setTabActive(tab);

            fetch(`/admin/dashboard/fetch/${e.target.id}`)
                .then(response => response.text())
                .then(html => {
                    dashboard.innerHTML = html;
                })
                .catch(error => {
                    console.warn('Something went wrong:', error);
                });
        });
    });
</script>
{{end}}
