{{$res := index .Data "reservation"}}
<div data-tmpl data-roomID="{{$res.Room.ID}}"></div>
<div class="flex flex-col items-center gap-5 justify-center h-full max-md:pt-8">
    <h2 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl lg:col-span-full text-stone-700 font-bold text-center">
        Reservation ID: #{{$res.ID}} Details For {{$res.Room.RoomName}}
    </h2>
    <div class="h-full w-full max-w-3xl overflow-hidden rounded-md shadow-lg shadow-stone-800/20">
        <figure class="slide h-fit w-fit">
            <img src="{{index $res.Room.PhotoLinks 0}}" alt="{{$res.Room.RoomName}}"
                class="h-full w-full object-contain">
        </figure>
    </div>
    <p class="text md:text-md lg:text-lg xl:text-xl lg:col-span-full text-stone-700 text-center">
        Change any of the following info below and submit to update the reservation
    </p>
    <form id="check-availability-form" action="#" method="POST"
        class="notice-box relative grid justify-items-center bg-amber-100 w-full max-w-4xl gap-4 py-8 px-4 rounded-md shadow-md shadow-stone-800/20 col-span-full mb-20">
        <h2 class="text-xl md:text-2xl lg:text-4xl lg:col-span-full text-stone-700 font-bold text-center">Search for
            Update
            Availability
        </h2>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div
            class="date_picker group grid grid-cols-[1fr_20px_1fr] px-4 py-4 w-full h-fit items-center justify-items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20">
            <label for="arrival_date" class="sm:text-lg text-stone-800">
                Arrival date
            </label>
            <p class="text-lg text-stone-800">-</p>
            <label for="departure_date" class="sm:text-lg text-stone-800">
                Departure date
            </label>
            <input required readonly type="text" name="arrival_date" id="arrival_date_json" placeholder="MM/DD/YYYY"
                value="{{printDate $res.ArrivalDate}}"
                class="start-date-input sm:text-lg text-stone-800 w-full text-center">
            <p class="text-lg text-stone-800">-</p>
            <input required readonly type="text" name="departure_date" id="departure_date_json" placeholder="MM/DD/YYYY"
                value="{{printDate $res.DepartureDate}}"
                class="end-date-input sm:text-lg text-stone-800 w-full text-center">
            <div class="calendar_box"></div>
        </div>
        {{$rooms := index .Data "rooms"}}
        {{with $rooms}}
        <div class="relative inline-block w-full text-amber-200">
            <label for="room_id"></label>
            <select name="room_id" id="room_id_json"
                class="appearance-none p-2 bg-stone-700 focus:outline-amber-200 rounded w-full sm:text-center shadow-md font-bold">
                {{range $rooms}}
                <option value="{{.ID}}">{{.RoomName}}</option>
                {{end}}
            </select>
            <div class="pointer-events-none absolute top-1/2 -translate-y-1/2 right-0 px-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 stroke-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
        </div>
        {{end}}
        <button type="submit"
            class="check-btn bg-stone-700 border-3 border-stone-700 lg:col-span-full rounded-md text-amber-200 text-lg md:text-xl lg:text-2xl font-bold hover:bg-transparent hover:text-stone-700 transition w-fit px-4 py-2">
            Check Availability
        </button>
    </form>
    <form action="/update-reservation" method="POST"
        class="grid gap-4 justify-items-center xl:grid-cols-2 w-full h-full">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input id="arrival_date" type="hidden" name="arrival_date" value="{{printDate $res.ArrivalDate}}">
        <input id="departure_date" type="hidden" name="departure_date" value="{{printDate $res.DepartureDate}}">
        <input id="room_id" type="hidden" name="room_id" value="{{$res.RoomID}}">
        <div class="flex flex-col gap-2 justify-end items-center w-full">
            {{with .Form.Errors.Get "first_name"}}
            <p class="px-4 py-2 bg-red-100 rounded text-red-500 col-span-full">{{.}}</p>
            {{end}}
            <div {{with .Form.Errors.Get "first_name" }}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md is-invalid"
                {{else}}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20"
                {{end}}>
                <div
                    class=" flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500 bg-amber-100">
                    <label for="first_name" class="text-lg text-stone-800">
                        First name
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="first_name" id="first_name" placeholder="John" value="{{$res.FirstName}}"
                        class="text-lg max-sm:text-center text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-end items-center w-full">
            {{with .Form.Errors.Get "last_name"}}
            <p class="px-4 py-2 bg-red-100 rounded text-red-500 col-span-full">{{.}}</p>
            {{end}}
            <div {{with .Form.Errors.Get "last_name" }}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md is-invalid"
                {{else}}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20"
                {{end}}>
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500 bg-amber-100">
                    <label for="last_name" class="text-lg text-stone-800">
                        Last name
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="last_name" id="last_name" placeholder="Doe" value="{{$res.LastName}}"
                        class="text-lg max-sm:text-center text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-end items-center w-full">
            {{with .Form.Errors.Get "email"}}
            <p class="px-4 py-2 bg-red-100 rounded text-red-500 col-span-full">{{.}}</p>
            {{end}}
            <div {{with .Form.Errors.Get "email" }}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md is-invalid"
                {{else}}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20"
                {{end}}>
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500 bg-amber-100">
                    <label for="email" class="text-lg text-stone-800">
                        Email
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="email" name="email" id="email" placeholder="johndoe@example.com" value="{{$res.Email}}"
                        class="text-lg max-sm:text-center text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-end items-center w-full">
            {{with .Form.Errors.Get "phone"}}
            <p class="px-4 py-2 bg-red-100 rounded text-red-500 col-span-full">{{.}}</p>
            {{end}}
            <div {{with .Form.Errors.Get "phone" }}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md is-invalid"
                {{else}}
                class="grid sm:grid-cols-[3fr_5fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20"
                {{end}}>
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500 bg-amber-100">
                    <label for="phone" class="text-lg text-stone-800">
                        Phone
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="phone" id="phone" placeholder="123-456-7890" value="{{$res.Phone}}"
                        class="text-lg max-sm:text-center text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex items-center gap-3 lg:col-span-full">
            <a href="/admin/dashboard/reservations/new"
                class="fetchLink bg-stone-700 border-3 border-stone-700 rounded-md text-amber-200 text-lg md:text-xl lg:text-2xl font-bold hover:bg-transparent hover:text-stone-700 transition w-fit px-4 py-2">Back</a>
            <button type="submit"
                class="bg-stone-700 border-3 border-stone-700 rounded-md text-amber-200 text-lg md:text-xl lg:text-2xl font-bold hover:bg-transparent hover:text-stone-700 transition w-fit px-4 py-2">
                Submit Change
            </button>
        </div>
    </form>
</div>
