<section class="max-md:pt-8 flex justify-center">
    <div
        class="cal-box z-10 border-2 border-stone-500 shadow-md shadow-stone-800/20 ease-in-out overflow-hidden duration-300 max-h-160 max-w-200 w-full aspect-square relative rounded-md">
    </div>
</section>
