{{$reservations := index .Data "reservations"}}
<div class="mb-4 grid gap-3 sm:grid-cols-3 w-full">
    <div class="relative inline-block w-full text-amber-200">
        <select name="" id="filter-select"
            class="appearance-none p-2 bg-stone-700 focus:outline-amber-200 rounded w-full sm:text-center shadow-md font-bold">
            <option value="">This Month</option>
            <option value="">Next Month</option>
        </select>
        <div class="pointer-events-none absolute top-1/2 -translate-y-1/2 right-0 px-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 stroke-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
    </div>
    <h1 class="row-start-1 col-span-full text-stone-800 text-2xl font-bold text-center">
        All Reservations
    </h1>
    <div class="flex items-center justify-between rounded border-2 border-stone-700 p-2 sm:col-span-2 shadow-md">
        <input type="text" placeholder="Search ..." class="text-stone-800 w-full">
    </div>
</div>
<table
    class="w-full [&_tr]:grid [&_tr]:grid-cols-3 lg:[&_tr]:grid-cols-[150px_150px_150px_1fr] xl:[&_tr]:grid-cols-[150px_150px_150px_1fr_1fr] [&_tr]:border-b-2 [&_tr]:justify-items-center [&_tr]:even:bg-amber-100 [&_tr]:odd:bg-white">
    <thead class="bg-amber-100">
        <tr>
            <th>Room Name</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th class="max-lg:hidden">Customer Email</th>
            <th class="max-xl:hidden">Customer Name</th>
        </tr>
    </thead>
    <tbody>
        {{range $reservations}}
        <tr
            class="cursor-pointer hover:brightness-85 [&_td]:w-full [&_a]:py-2 [&_a]:block [&_a]:w-full [&_a]:text-center">
            <td><a href="/admin/dashboard/reservations/all/{{.ID}}" class="fetchLink">{{.Room.RoomName}}</td>
            <td><a href="/admin/dashboard/reservations/all/{{.ID}}" class="fetchLink">{{printDate .ArrivalDate}}</a>
            </td>
            <td><a href="/admin/dashboard/reservations/all/{{.ID}}" class="fetchLink">{{printDate .DepartureDate}}</a>
            </td>
            <td class="max-lg:hidden"><a href="/admin/dashboard/reservations/all/{{.ID}}"
                    class="fetchLink">{{.Email}}</a></td>
            <td class="max-xl:hidden"><a href="/admin/dashboard/reservations/all/{{.ID}}"
                    class="fetchLink">{{.FirstName}}
                    {{.LastName}}</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
