{{template "base" .}}

{{define "content"}}
<div class="slider relative h-[calc(100vh-5.5rem)] w-full">
    <!-- slide -->
    <figure class="slide absolute h-full w-full">
        <img src="/static/images/outside.png" alt="Resort" class="hero_image">
        <figcaption class="hero_content">
            <div class="hero_textbox">
                <h2 class="hero_header">
                    Find your peace
                </h2>
                <p class="hero_paragraph">
                    With up to two suites we have what you are looking for
                </p>
            </div>
            <a href="/search-availability" class="hero_cta">
                Book Today
            </a>
        </figcaption>
    </figure>
    <figure class="slide absolute h-full w-full">
        <img src="/static/images/tray.png" alt="Resort" class="hero_image">
        <figcaption class="hero_content">
            <div class="hero_textbox">
                <h2 class="hero_header">
                    Enjoy delicious cuisine
                </h2>
                <p class="hero_paragraph">
                    Our Michelin Star chefs will have you wanting more
                </p>
            </div>
            <a href="/search-availability" class="hero_cta">
                Book Today
            </a>
        </figcaption>
    </figure>
    <!-- slide -->
    <figure class="slide absolute h-full w-full">
        <img src="/static/images/woman-laptop.png" alt="Woman relaxing with a coffee in front of her computer"
            class="hero_image">
        <figcaption class="hero_content">
            <div class="hero_textbox">
                <h2 class="hero_header">
                    Browse high speed internet
                </h2>
                <p class="hero_paragraph">
                    For business or pleasure we have blazing fast internet
                </p>
            </div>
            <a href="/search-availability" class="hero_cta">
                Book Today
            </a>
        </figcaption>
    </figure>
    <!-- slide buttons -->
    <div class="sm:container sm:mx-auto relative h-full w-full">
        <div class="slide_btn slide_btn-left group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="slide_btn_logo">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        </div>
        <div class="slide_btn slide_btn-right group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="slide_btn_logo">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
    </div>
    <div class="dots"></div>
</div>

<!-- features section -->
<section class="container mx-auto py-20 px-4">
    <div class="flex flex-col items-center gap-12">
        <figure
            class="grid grid-rows-auto md:grid-cols-12 md:grid-rows-24 h-full md:h-96 xl:max-w-7xl shadow-lg md:shadow-none">
            <img src="/static/images/autumn-beach.jpg" alt="Autumn beach"
                class="md:col-start-1 md:col-span-full lg:col-end-8 md:row-start-1 md:row-end-20 lg:row-span-full rounded-t-md md:rounded-md object-cover h-full w-full md:shadow-lg">
            <figcaption
                class="z-10 h-full md:col-start-2 lg:col-start-6 md:col-end-11 lg:col-span-full md:row-start-15 lg:row-start-2 md:row-span-full lg:row-end-20 flex flex-col justify-center gap-2 px-4 py-6 bg-amber-100/85 rounded-b-md md:rounded-md md:shadow-lg">
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-stone-700 font-bold">Discover your escape</h2>
                <p class="text-stone-700 md:text-lg lg:text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </figcaption>
        </figure>
        <figure
            class="grid grid-rows-auto md:grid-cols-12 md:grid-rows-24 h-full md:h-96 xl:max-w-7xl shadow-lg md:shadow-none">
            <img src="/static/images/split-rock-lighthouse.jpg" alt="Autumn beach"
                class="md:col-start-1 lg:col-start-6 md:col-span-full md:row-start-1 md:row-end-20 lg:row-span-full rounded-t-md md:rounded-md object-cover h-full w-full md:shadow-lg">
            <figcaption
                class="z-10 h-full md:col-start-3 lg:col-start-1 md:col-end-12 lg:col-end-8 md:row-start-15 lg:row-start-2 md:row-span-full lg:row-end-20 flex flex-col justify-center gap-2 px-4 py-6 bg-amber-100/85 rounded-b-md md:rounded-md md:shadow-lg">
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-stone-700 font-bold">Visit local landmarks</h2>
                <p class="text-stone-700 md:text-lg lg:text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </figcaption>
        </figure>
        <figure
            class="grid grid-rows-auto md:grid-cols-12 md:grid-rows-24 h-full md:h-96 xl:max-w-7xl shadow-lg md:shadow-none">
            <img src="/static/images/spa.jpg" alt="Autumn beach"
                class="md:col-start-1 md:col-span-full lg:col-end-8 md:row-start-1 md:row-end-20 lg:row-span-full rounded-t-md md:rounded-md object-cover h-full w-full md:shadow-lg">
            <figcaption
                class="z-10 h-full md:col-start-2 lg:col-start-6 md:col-end-11 lg:col-span-full md:row-start-15 lg:row-start-2 md:row-span-full lg:row-end-20 flex flex-col justify-center gap-2 px-4 py-6 bg-amber-100/85 rounded-b-md md:rounded-md md:shadow-lg">
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-stone-700 font-bold">Enjoy our spa</h2>
                <p class="text-stone-700 md:text-lg lg:text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </figcaption>
        </figure>
    </div>
</section>

<!-- testimonials section -->
<section class="bg-amber-100">
    <div class="container mx-auto px-4 py-20">
        <h2 class="text-2xl mb-10 md:text-3xl lg:text-4xl text-stone-700 font-bold">What our customers say</h2>
        <div class="grid gap-6 md:grid-cols-2 justify-center">
            <div class="flex flex-col gap-4 w-fit items-center group">
                <img src="/static/images/profile1.jpg" alt="profile 1 picture"
                    class="h-40 w-40 rounded-full grayscale-100 group-hover:grayscale-0 transition">
                <h3
                    class="relative w-fit text-lg text-stone-500 font-bold px-2 group-hover:text-stone-800 transition before:content-[''] before:absolute before:h-0.5 before:w-full before:bg-stone-500 before:-bottom-1 before:left-2/4 before:-translate-x-2/4 group-hover:before:bg-stone-800 before:transition">
                    Taylor Mackie (April 24, 2025)</h3>
                <p class="text-stone-500 text-center group-hover:text-stone-800 transition">Lorem ipsum dolor sit amet
                    consectetur,
                    adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </div>
            <div class="flex flex-col gap-4 w-fit items-center group">
                <img src="/static/images/profile2.jpg" alt="profile 2 picture"
                    class="h-40 w-40 rounded-full grayscale-100 group-hover:grayscale-0 transition">
                <h3
                    class="relative w-fit text-lg text-stone-500 font-bold px-2 group-hover:text-stone-800 transition before:content-[''] before:absolute before:h-0.5 before:w-full before:bg-stone-500 before:-bottom-1 before:left-2/4 before:-translate-x-2/4 group-hover:before:bg-stone-800 before:transition">
                    Stephen Chen (July 5, 2025)</h3>
                <p class="text-stone-500 text-center group-hover:text-stone-800 transition">Lorem ipsum dolor sit amet
                    consectetur,
                    adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </div>
            <div class="flex flex-col gap-4 w-fit items-center group">
                <img src="/static/images/profile3.jpg" alt="profile 3 picture"
                    class="h-40 w-40 rounded-full grayscale-100 group-hover:grayscale-0 transition">
                <h3
                    class="relative w-fit text-lg text-stone-500 font-bold px-2 group-hover:text-stone-800 transition before:content-[''] before:absolute before:h-0.5 before:w-full before:bg-stone-500 before:-bottom-1 before:left-2/4 before:-translate-x-2/4 group-hover:before:bg-stone-800 before:transition">
                    Sarah Arden (November 12, 2025)</h3>
                <p class="text-stone-500 text-center group-hover:text-stone-800 transition">Lorem ipsum dolor sit amet
                    consectetur,
                    adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </div>
            <div class="flex flex-col gap-4 w-fit items-center group">
                <img src="/static/images/profile4.jpg" alt="profile 4 picture"
                    class="h-40 w-40 rounded-full grayscale-100 group-hover:grayscale-0 transition">
                <h3
                    class="relative w-fit text-lg text-stone-500 font-bold px-2 group-hover:text-stone-800 transition before:content-[''] before:absolute before:h-0.5 before:w-full before:bg-stone-500 before:-bottom-1 before:left-2/4 before:-translate-x-2/4 group-hover:before:bg-stone-800 before:transition">
                    Mark Patton (September 8, 2025)</h3>
                <p class="text-stone-500 text-center group-hover:text-stone-800 transition">Lorem ipsum dolor sit amet
                    consectetur,
                    adipisicing
                    elit.
                    Quo odit unde sit voluptatum at modi suscipit
                    harum veritatis explicabo, dignissimos mollitia, fugit accusantium, natus alias possimus dolorem rem
                    officiis quam?</p>
            </div>
        </div>
    </div>
</section>
{{end}}
