{{template "base" .}}

{{define "content"}}
<section
    class="flex flex-col items-center justify-center container mx-auto px-4 gap-10 py-10 min-h-[calc(100vh-5.5rem)] h-fit">
    <form action="/make-reservation" method="POST"
        class="grid justify-items-center lg:grid-cols-2 bg-amber-100 w-full max-w-6xl gap-4 p-8 rounded-md shadow-md shadow-stone-800/20">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <h2 class="text-xl md:text-2xl lg:text-4xl lg:col-span-full text-stone-700 font-bold">
            Make Reservation
        </h2>
        <div class="flex flex-col gap-2 justify-center items-center">
            {{with .Form.Errors.Get "first_name"}}
            <p class="px-4 py-2 bg-red-100 rounded text-red-500 col-span-full">{{.}}</p>
            {{end}}
            <div {{with .Form.Errors.Get "first_name" }}
                class="grid sm:grid-cols-[1fr_2fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md is-invalid"
                {{else}}
                class="grid sm:grid-cols-[1fr_2fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20"
                {{end}}>
                <div class=" flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4
                border-stone-500">
                    <label for="first_name" class="text-lg text-stone-800">
                        First name
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="first_name" id="first_name" placeholder="John"
                        class="text-lg text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center">
            <div
                class="grid sm:grid-cols-[1fr_2fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20">
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500">
                    <label for="last_name" class="text-lg text-stone-800">
                        Last name
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="last_name" id="last_name" placeholder="Doe"
                        class="text-lg text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center">
            <div
                class="grid sm:grid-cols-[1fr_2fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20">
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500">
                    <label for="email" class="text-lg text-stone-800">
                        Email
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="email" name="email" id="email" placeholder="johndoe@example.com"
                        class="text-lg text-stone-800 w-full">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center">
            <div
                class="grid sm:grid-cols-[1fr_2fr] w-full h-fit items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20">
                <div
                    class="flex justify-center w-full p-2 border-b-3 sm:border-b-0 sm:border-r-3 sm:p-4 border-stone-500">
                    <label for="phone" class="text-lg text-stone-800">
                        Phone
                    </label>
                </div>
                <div class="flex justify-center p-2 sm:p-4">
                    <input type="text" name="phone" id="phone" placeholder="123-456-7890"
                        class="text-lg text-stone-800 w-full">
                </div>
            </div>
        </div>
        <button type="submit"
            class="bg-stone-700 border-3 border-stone-700 lg:col-span-full rounded-md text-amber-200 text-lg md:text-xl lg:text-2xl font-bold hover:bg-transparent hover:text-stone-700 transition w-fit px-4 py-2">
            Submit Reservation
        </button>
    </form>
</section>
{{end}}
