{{template "base" .}}

{{define "js"}}
<script defer src="/static/js/datePicker.js"></script>
{{end}}

{{define "content"}}
<section
    class="flex flex-col items-center justify-center container mx-auto px-4 gap-10 py-10 min-h-[calc(100vh-5.5rem)] h-fit">
    <form action="/search-availability" method="POST"
        class="grid justify-items-center bg-amber-100 w-full max-w-4xl gap-4 py-8 px-4 rounded-md shadow-md shadow-stone-800/20">
        <h2 class="text-xl md:text-2xl lg:text-4xl lg:col-span-full text-stone-700 font-bold">Search for Availability
        </h2>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div
            class="date_picker group grid grid-cols-[1fr_20px_1fr] px-4 py-4 w-full h-fit items-center justify-items-center bg-white border-3 border-stone-500 rounded-md shadow-md shadow-stone-800/20">
            <label for="arrival_date" class="sm:text-lg text-stone-800">
                Arrival date
            </label>
            <p class="text-lg text-stone-800">-</p>
            <label for="departure_date" class="sm:text-lg text-stone-800">
                Departure date
            </label>
            <input required readonly type="text" name="arrival_date" id="arrival_date" placeholder="MM/DD/YYYY"
                class="start-date-input sm:text-lg text-stone-800 w-full text-center">
            <p class="text-lg text-stone-800">-</p>
            <input required readonly type="text" name="departure_date" id="departure_date" placeholder="MM/DD/YYYY"
                class="end-date-input sm:text-lg text-stone-800 w-full text-center">
            <div class="calendar_box"></div>
        </div>
        <button type="submit"
            class="bg-stone-700 border-3 border-stone-700 lg:col-span-full rounded-md text-amber-200 text-lg md:text-xl lg:text-2xl font-bold hover:bg-transparent hover:text-stone-700 transition w-fit px-4 py-2">
            Check Availability
        </button>
    </form>
</section>
{{end}}
